<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<setting id="player_type" type="enum" values="Auto|MPlayer|DVDPlayer" label="30000" default="2"/>
<setting id="updatecheck2" type="bool" label="30001" default="true"/>
<setting id="updatechannels" type="bool" label="30004" default="true"/>
<setting id="debug" type="bool" label="30003" default="false"/>
<setting id="default_action" type="enum" lvalues="30006|30007|30008|30009" label="30005" default="0"/>
<setting id="thumbnail_type" type="enum" lvalues="30011|30012|30200" label="30010" default="2"/>
<setting id="forceview" type="bool" label ="30043" default="false"/>
<setting id="player_mode" type="enum" values="Direct|SetResolvedUrl|Built-In" label="30044" default="0"/>
<setting id="bookmarkpath" type="text" source="video" option="writeable" label="30030" default=""/>
</settings>
