<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="name" type="text" label="30000" default="totlol" enable="false" />
    <setting type="sep" />
    <setting id="totlolaccount" type="bool" label="30100" default="false"/>
    <setting id="totlollogin" type="text" label="30101" default=""/>
    <setting id="totlolpassword" type="text" label="30102" default=""/>
    <setting id="updatecheck2" type="bool" label="30200" default="true"/>
    <setting id="downloadpath" type="text" label="30201" default=""/>
</settings>
